.feedback-container {
    max-width: 400px;
    height: 300px;
    background-color: #F1F1F1;
    border-radius: 10px;
}

.feedback-user-profile {
    display: flex;
    padding: 15px 10px;
}

.feedback-user-informations {
    margin-left: 5px;
}

.feedback-user-name {
    font-size: 16px;
    color: #144490;
    padding: 0;
}

.feedback-user-date {
    color: #144490;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
}

.feedback-user-text {
    color: #141414;
    font-weight: 500;
    font-size: 17px;
    padding: 0 10px;
}